Repository Type4ny-Project/Type4ny, pull requests merged in 2024-09, with the labels that each got.

#11 Feat: Inboxにルールを設定できるように
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1725457306200-inboxrule.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/InboxRuleService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/InboxRule.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/inbox-rule/delete.ts
  packages/backend/src/server/api/endpoints/admin/inbox-rule/edit.ts
  packages/backend/src/server/api/endpoints/admin/inbox-rule/list.ts
  packages/backend/src/server/api/endpoints/admin/inbox-rule/set.ts
  packages/backend/src/types.ts
  packages/frontend/src/pages/admin/InboxModerationEditorFormula.vue
  packages/frontend/src/pages/admin/inboxModeration.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#15 fix:チャンネルの共同管理者権限移譲設定が適切に表示されない問題を修正　#14
  packages/frontend/src/pages/channel-editor.vue
Labels: packages/frontend

#18 fix:サーバーのモデレーター以外にチャンネル編集権限がなくなってしまっていた問題を修正 #17
  packages/backend/src/server/api/endpoints/channels/update.ts
Labels: packages/backend

#21 update:channels/updateで共同編集者が共同編集者を編集できないように
  packages/backend/src/server/api/endpoints/channels/update.ts
Labels: packages/backend

#23 enhance:共同管理者の編集をいい感じにした
  packages/frontend/src/pages/channel-editor.vue
Labels: packages/frontend

#31 fix:admin-user.vueのポイント付与が「ぷりずむを付与する」のままになっている問題を修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#32 enhance:投稿通知ボタンがonの時の表示をいい感じにする
  packages/frontend/src/components/MkNotifyButton.vue
Labels: packages/frontend

#35 fix:channel管理者移譲時のポップアップ表示を、username(id名)にすることでnullが出ないようにする
  packages/frontend/src/pages/channel-editor.vue
Labels: packages/frontend

#37 feat:antenna/editで受信キーワード未設定の時にエラーをポップするように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkAntennaEditor.vue
Labels: packages/frontend

#51 fix:チャンネルの共同編集者を0名にできない問題を修正
  packages/backend/src/server/api/endpoints/channels/update.ts
Labels: packages/backend

#56 fix：UserListの追加が同期しない問題を修正 #55
  packages/frontend/src/components/MkUserSelectDialog.vue
Labels: packages/frontend

#58 release Ver1.0.0
  CHANGELOG.md
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#62 fix:MkMenu.vueでMkSwitchButtonのインポートされてなかった問題を修正 #61
  packages/frontend/src/components/MkMenu.vue
Labels: packages/frontend
